
// Job paramaters to set for this environment


gatk_bundle_path = "/work_ikmb/ikmb_repository/references/gatk/v2"

params {
    max_cpus = 24
    max_ram = 250.GB
    max_time = 24.h
    hisat_genome_index = "/work_ikmb/ikmb_repository/references/hisat-genotype/2022-07/"
    hlascan_db = "/work_ikmb/ikmb_repository/databases/hlascan/2022-12/HLA-ALL.IMGT"
}

// Resource manager settings

executor {
  queueSize=50
}

// Process setting

process {
  
  executor = 'slurm'
  queue = 'base'

  // Set environment variables for HLAHD globally
  beforeScript = '''
    export PATH=/work_ikmb/ikmb_repository/software/hlahd/1.7.0/bin:$PATH
    export HLAHD_FREQ=/work_ikmb/ikmb_repository/software/hlahd/1.7.0/freq_data
    export HLAHD_GENE_SPLIT=/work_ikmb/ikmb_repository/software/hlahd/1.7.0/HLA_gene.split.txt
    export HLAHD_DICT=/work_ikmb/ikmb_repository/software/hlahd/1.7.0/dictionary
  '''

}

singularity {
  enabled = true
  runOptions = "-B /work_ikmb -B /scratch"
  cacheDir = "/work_ikmb/ikmb_repository/singularity_cache"
}

