
// Job paramaters to set for this environment

params {
	max_cpus = 16
	max_ram = 120
}

// Resource manager settings

executor {
  queueSize=50
}

// Process setting

process {
  
  executor = 'slurm'
  queue = 'all'
  clusterOptions = '-C fast'

}

singularity {
  enabled = true
  runOptions = "-B /work_ifs -B /scratch"
  cacheDir = "/work_ifs/ikmb_repository/singularity_cache"
}

