
// Job paramaters to set for this environment

gatk_bundle_path = "/work_ifs/ikmb_repository/references/gatk/v2"

params {
	max_cpus = 24
	max_ram = 250.GB
	max_time = 24.h
	hisat_genome_index = "/work_beegfs/ikmb_repository/references/hisat-genotype/2022-07/"
}

// Resource manager settings

executor {
  queueSize=50
}

// Process setting

process {
  
  executor = 'slurm'
  queue = 'all'

}

singularity {
  enabled = true
  runOptions = "-B /work_beegfs -B /scratch"
  cacheDir = "/work_beegfs/ikmb_repository/singularity_cache"
}

