params {

   genomes {

	'hg38' {
		fasta = "${gatk_bundle_path}/hg38/Homo_sapiens_assembly38.fasta"
		bwa2_index = "${gatk_bundle_path}/hg38/bwa2/Homo_sapiens_assembly38.fasta"
         	fai = "${gatk_bundle_path}/hg38/Homo_sapiens_assembly38.fasta.fai"
         	fastagz = "${gatk_bundle_path}/hg38/Homo_sapiens_assembly38.fasta.gz"
         	gzi = "${gatk_bundle_path}/hg38/Homo_sapiens_assembly38.fasta.gz.gzi"
         	gzfai = "${gatk_bundle_path}/hg38/Homo_sapiens_assembly38.fasta.gz.fai"
         	dict = "${gatk_bundle_path}/hg38/Homo_sapiens_assembly38.dict"
         	dbsnp = "${gatk_bundle_path}/hg38/dbsnp_146.hg38.vcf.gz"
	}  
        'hg19' {
                fasta = "${gatk_bundle_path}/hg19/ucsc.hg19.fasta"
		bwa2_index =  "${gatk_bundle_path}/hg19/bwa2/ucsc.hg19.fasta"
		fai = "${gatk_bundle_path}/hg19/ucsc.hg19.fasta.fai"
		fastagz = "${gatk_bundle_path}/hg19/ucsc.hg19.fasta.gz"
		gzfai = "${gatk_bundle_path}/hg19/ucsc.hg19.fasta.gz.fai"
		gzi = "${gatk_bundle_path}/hg19/ucsc.hg19.fasta.gz.gzi"
                dict = "${gatk_bundle_path}/hg19/ucsc.hg19.dict"
                dbsnp = "${gatk_bundle_path}/hg19/dbsnp_138.hg19.vcf.gz"
        }
	'GRCh38' {
		fasta = "${gatk_bundle_path}/hg38_no_alt/Homo_sapiens_GRCh38_no_alts.fa"		
		bwa2_index = "${gatk_bundle_path}/hg38_no_alt/bwa2/Homo_sapiens_GRCh38_no_alts.fa"
                fai = "${gatk_bundle_path}/hg38_no_alt/Homo_sapiens_GRCh38_no_alts.fa.fai"
                fastagz = "${gatk_bundle_path}/hg38_no_alt/Homo_sapiens_GRCh38_no_alts.fa.gz"
                gzi = "${gatk_bundle_path}/hg38_no_alt/Homo_sapiens_GRCh38_no_alts.fa.gz.gzi"
                gzfai = "${gatk_bundle_path}/hg38_no_alt/Homo_sapiens_GRCh38_no_alts.fa.gz.fai"
		dict = "${gatk_bundle_path}/hg38_no_alt/Homo_sapiens_GRCh38_no_alts.dict"
		dbsnp = "${gatk_bundle_path}/hg38_no_alt/dbsnp_146.hg38.vcf.gz"
	}        
        'GRCh37' {
                fasta = "${gatk_bundle_path}/b37/human_g1k_v37_decoy.fasta"
		bwa2_index = "${gatk_bundle_path}/b37/bwa2/human_g1k_v37_decoy.fasta"
		fai = "${gatk_bundle_path}/b37/human_g1k_v37_decoy.fasta.fai"
                fastagz = "${gatk_bundle_path}/b37/human_g1k_v37_decoy.fasta.gz"
                gzfai = "${gatk_bundle_path}/b37/human_g1k_v37_decoy.fasta.gz.fai"
                gzi = "${gatk_bundle_path}/b37/human_g1k_v37_decoy.fasta.gz.gzi"
                dict = "${gatk_bundle_path}/b37/human_g1k_v37.clean.dict"
                dbsnp = "${gatk_bundle_path}/b37/dbsnp_138.b37.vcf.gz"
        }
        
  }
  
}
